@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.home-container{
    padding-top: 41px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}



.hero-img{
    display: inline-block;
    height: 91px;
    width: 125px;
}

.headline{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 301px;
    height: 54px;
}

.headline > h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin: 0px;
}

.headline > h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #39BCF6;
    margin: 0px;
}

.weather-wrapper{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    height: 274px;
    width: 310px;
}

.weather-wrapper > h1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #1E1C45;
    margin: 0px;
}

.orange{
    color: #FFB029;
}

.search-wrapper {
    width: 332px;
    height: 93px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.blurb-wrapper {
    width: 210px;
    height: 34px;
    display: inline-block;
}

.blurb-wrapper > h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #1E1C45;
    margin: 0px;
}