@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.nav{
    width: 375px;
    height: 48px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-bottom-color: #E9E9E9;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-right: 8px;
    padding-left: 8px;
}

.links > a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #1E1C45;
}

.logo > img{
    height: 35px;
}